@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");
@import "tailwindcss";

.myPiano {
	position: relative;
	z-index: 1000;
}

.piano-key {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border-top: 2px solid #000;
	border-right: 1px solid #000;
	border-bottom: 2px solid #000;
	border-radius: 0 0 6px 6px;
	cursor: pointer;
	box-sizing: border-box;
	will-change: transform;
}

.white {
	width: 1.917%;
	height: 100%;
	background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.white.active {
	background: #db5361 !important;
	box-shadow: 0 -5px 15px rgba(219, 83, 97, 0.3);
	border-bottom: 1px solid #131313;
	transform: scaleY(0.98);
	transform-origin: top;
}

.black {
	position: absolute;
	width: 1.1%;
	height: 65%;
	background: linear-gradient(to bottom, #333 0%, #0a0a0a 100%);
	border: 1px solid #000;
	border-top: 2px solid #000;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	z-index: 10;
	border-radius: 0 0 4px 4px;
}

.black.active {
	background: linear-gradient(to bottom, #db5361 0%, #8a0024 100%) !important;
	box-shadow: 0 -5px 15px rgba(219, 83, 97, 0.3);
	border-top: 3px solid #000;
}

.title {
	position: relative;
	font-size: 96px;
	font-family: "Lobster", cursive;
	font-weight: 400;
	z-index: 100;
}
